/* css for overall */

*, ::after, ::before {
    box-sizing: border-box;
}

/*Css for Navbar*/
#logo{
    width: 15vh;
    height: 15vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 25px
}

.nav-item{
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    font-family: Roboto,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}
.navbar-brand,.nav-link {
color:white;
}

.navbar-brand,.nav-link:hover {
color:yellow;
}
.navbar-brand {

}
.Navbar{
    background: #0d2235;
        height: 60px;
    border-bottom: 3px solid #ffa54b;
}
.navbar-toggler{
    background: #ffa54b !important;
}

.navbar-nav{
    padding-left: 10px !important;
}
.dropdown-menu{
        border: 3px solid #ffa54b !important;
}
.dropdown-item{
    font-weight: 600 !important;
}





/*About Css Here*/
#personal,.contact-form{
    display: flex;
}

.contact-us,.contact-form{
    margin-left: 120px;
    min-width: 40%;
    align-items: center;
    height: 70vh;
    padding: 20px;
}
.h1{
    margin-left: 20px;
}
.contact-details{
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    padding-top: 60px;
    padding-bottom: 30px;
    display: block;

}
.contact-details-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
.text{
    margin: 10px;
}
.type{
    color: red;
}
