/* css for overall */

*, ::after, ::before {
    box-sizing: border-box;
}

/*Css for Navbar*/
#logo{
    width: 14vh;
    height: 14vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 20px
}
h1 {
    font-family: "archia";
    font-size: 24px!important;
    font-weight: 900;
}
.nav-item{
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    font-family: Roboto,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}
.navbar-brand,.navbar-expand-md ,.nav-link {
color:white;
}
.navbar-collapse li:hover{
    color:yellow;

}
.navbar-brand ,.nav-link:hover {
color:yellow;
}
.Navstyle{
    cursor: pointer;
}
.Navbar{
    background: black;
        height: 60px;
    border-bottom: 3px solid #ffa54b;
}
.navbar-toggler{
    background: #ffa54b !important;
}

.navbar-nav{
    padding-left: 10px !important;
}
.dropdown-menu{
        border: 3px solid #ffa54b !important;
}
.dropdown-item{
    font-weight: 600 !important;
}





/*Contact Css Here*/
#personal,.contact-form{
    display: flex;
}

.contact-us,.contact-form{
    margin-left: 120px;
    min-width: 40%;
    align-items: center;
    height: 70vh;
    padding: 20px;
}
.h1{
    margin-left: 20px;
}
.contact-details{
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    padding-top: 60px;
    padding-bottom: 30px;
    display: block;

}
.contact-details-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
.text{
    margin: 10px;
}
.type{
    color: red;

}



/* About css here */
.about{
    position: relative;
    top: 55px;
    background-color: #FFFFFF;

}
.aboutbg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    display: block;
}
#about-title{
    text-align: center;
    color: #1D1F26;
    line-height: 72px;
    font-size: 60px;
    font-family: bebas-neue, sans-serif;
    font-weight: 600;
}
#about-title-desc{
    text-align: center;
    color: #1D1F26;
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: 400;
}

#row2{
    position: absolute;
    left: 130px;
    display: flex;
}
#modal{
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}
#about-history{
    text-align: left;
    color: #1D1F26;
    line-height: 43px;
    font-size: 36px;
    font-family: bebas-neue, sans-serif;
    font-weight: 600;
}

#history-detail{
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: 400;
}
#about-fixtures{
    width:100%;
}



/*footer*/

.site-footer {
  padding: 4em 0;
  background: #333333; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 8em 0; } }
  .site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
  .site-footer p {
    color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: #999999; }
    .site-footer a:hover {
      color: white; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff; }



    /* floating social icons */

    .icons{
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: fixed;
        z-index: 100;
    }
    .icons ul{
        padding: initial;
    }
    .icons ul li{
        height: 40px;
        width: 40px;
        list-style-type: none;
        padding-left: 12px;
        padding-top: 6px;
        margin-top: 5px;
        color: #fff;
    }

    .facebook{
        background: #3b5998;
    }
    .instagram{
        background: #ff4800;
    }
    .twitter{
        background: #55acee;
    }
    .youtube{
        background: #ff0000;
    }
    .icons ul li:hover{
        padding-left: 30px;
        width: 100px;
        transition: 0.8s;
    }